PORT=3000
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@dawacluster.tyrj3qk.mongodb.net/my_cloud_database?retryWrites=true&w=majority
JWT_SECRET=a1d5c4979a76df9ced9b25651c50fd29
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
JWT_ISSUER=express-mongo-auth
JWT_AUDIENCE=web
BCRYPT_SALT_ROUNDS=10

